@page "/"
@using System.Collections.Generic;

@page "/"

<h1> Adminiistrator Console </h1>

<div class="section">
    <h3> Event Management</h3>
    <ul>
        <li>Create Event</li>
        <li>Modify Existing Event</li>
    </ul>
</div>

<div class="section">
    <h3>Account Management</h3>
    <input @bind="searchParam" type="text" placeholder="Search by username, email, or anything else..." />
    <div class="section>">
        <h5>Search Results</h5>
    </div>
</div>


@code{



}

