@page "/"
@using System.Collections.Generic;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<input @bind="ChosenMonth">
<select>
@foreach (DateTime month in GetMonthRange())
        {
        <option value="@month" >@month.ToString("MMM")</option>
        }
</select>
/>
<div>@ChosenMonth</div>

<HTMLCalendar ChosenMonth="ChosenMonth"/>

@code{

    public DateTime ChosenMonth { get; set; } = DateTime.Now;

        private List<DateTime> GetMonthRange()
        {
            DateTime workingDate = DateTime.Now;
            List<DateTime> workingList = new List<DateTime>();
            for (int i = 0; i <= 11; i++)
            {
                DateTime targetDate = workingDate.AddMonths(i);
                workingList.Add(targetDate);
            }
            return workingList;
        }
    }

